.leFadeInLeft span { animation-name: leFadeInLeft }
@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to { opacity: 1 }
}

.btn-language {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
}

.btn-language:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.btn-language:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.btn-language span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.btn-language:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .btn-language {
        padding: 10px 15px;  
    }

    .btn-language span {
        font-size: 1em;  
        letter-spacing: 0.2em;  
    }

    .btn-language:hover span {
        font-size: 1.05em;  
    }

    
  
}

@media (max-width: 480px) {
    .btn-language {
        padding: 8px 12px;  
    }

    .btn-language span {
        font-size: 0.9em;  
        letter-spacing: 0.1em;
    }
   
}

.stage-cube-cont {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
}

.cubespinner {
    width: 20vw;
    height: 20vh;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;
}

.cubespinner div {
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem; /* Default size */
    color: #fff;
}

.face1 { transform: rotateY(0deg) translateZ(125px); }
.face2 { transform: rotateY(90deg) translateZ(125px); }
.face3 { transform: rotateY(180deg) translateZ(125px); }
.face4 { transform: rotateY(-90deg) translateZ(125px); }
.face5 { transform: rotateX(90deg) translateZ(125px); }
.face6 { transform: rotateX(-90deg) translateZ(125px); }
  
  @keyframes rotateCube {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  @media (max-width: 768px) {
    .stage-cube-cont {
        width: 25vw;
        height: 25vw;
    }

    .cubespinner {
        width: 25vw;
        height: 25vh;
    }

    .cubespinner div {
        width: 120px;
        height: 120px;
        font-size: 2.5rem; /* Adjusted icon size */
    }

    .face1 { transform: rotateY(0deg) translateZ(60px); }
    .face2 { transform: rotateY(90deg) translateZ(60px); }
    .face3 { transform: rotateY(180deg) translateZ(60px); }
    .face4 { transform: rotateY(-90deg) translateZ(60px); }
    .face5 { transform: rotateX(90deg) translateZ(60px); }
    .face6 { transform: rotateX(-90deg) translateZ(60px); }
}

@media (max-width: 376px) {
    .stage-cube-cont {
        width: 30vw;
        height: 30vw;
    }

    .cubespinner {
        width: 30vw;
        height: 30vh;
    }

    .cubespinner div {
        width: 100px;
        height: 100px;
        font-size: 2rem; /* Adjusted icon size */
    }

    .face1 { transform: rotateY(0deg) translateZ(50px); }
    .face2 { transform: rotateY(90deg) translateZ(50px); }
    .face3 { transform: rotateY(180deg) translateZ(50px); }
    .face4 { transform: rotateY(-90deg) translateZ(50px); }
    .face5 { transform: rotateX(90deg) translateZ(50px); }
    .face6 { transform: rotateX(-90deg) translateZ(50px); }
}

/* General styling for work experience section */
.work-experience {
    background-image: linear-gradient(to bottom, #1e3a8a, #3b82f6); /* Blue gradient background */
    padding: 60px 0;
    
  }
  
  .work-experience .container {
   
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .work-experience h2 {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .work-experience .job {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .work-experience .job:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }
  
  .work-experience .job h3 {
    font-size: 2rem;
    color: #2d3748;
    margin-bottom: 10px;
  }
  
  .work-experience .job p {
    font-size: 1rem;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .work-experience .job ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .work-experience .job ul li {
    font-size: 1rem;
    color: #2d3748;
    padding-left: 1.5em;
    position: relative;
  }
  
  .work-experience .job ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
    color: #3b82f6; /* Blue color for bullets */
  }
  
  @media (max-width: 768px) {
    .work-experience h2 {
      font-size: 2.5rem;
    }
  
    .work-experience .job h3 {
      font-size: 1.6rem;
    }
  
    .work-experience .job p {
      font-size: 0.95rem;
    }
  }
  

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left:auto !important;
    margin-right:1.2em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left:auto !important;
    margin-right:1.4em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }